body {
	font-family: 'Raleway', sans-serif;
	margin: 0;
}

nav {
	background-color: #b31d83;
	margin: 0 0 20px 0;
	padding: 0px 0px 0px 80px;
	overflow: hidden;
}

nav a {
	display: inline-block;
	text-decoration: none;
	color: 	#ffffa8;
	padding: 26px;
	text-align: center;
}

nav a:hover {
	background-color: #f09102;
	color: #b31d83;
}

/*Seccion Fotos Panda*/

.fotos-pandas{
	margin: 0 auto;
	width: 60%;
}


.foto1 {
	background-image: url(../img/a1.jpg);
}
.foto2 {
	background-image: url(../img/a2.jpg);
}
.foto3 {
	background-image: url(../img/a3.jpg);
}
.foto4 {
	background-image: url(../img/a4.jpg);
}
.foto-cada-uno{
	display: inline-block;
	padding: 60px 65px;
	margin: 40px 20px;
}

.desaparece {
	display: none;
}

.foto-cada-uno a{
	text-decoration: none;
	font-weight: bold;
	color: #f5cb11;
}


/*Seccion de Mini Nav*/

.mini-nav {
	background-color: #b31d83;
	width: 909px;
	margin: 0 auto;
	overflow: hidden;
}
.mini-nav a {
	display: inline-block;
	text-decoration: none;
	color: 	#ffffa8;
	padding: 26px 0;
	width: 300px;
	text-align: center;
}

.mini-nav a:hover {
	background-color: #f09102;
	color: #b31d83;
} 

/*Seccion texto*/
.letras {
	width: 909px;
	margin: 0 auto;
}

.letras p {
	
	margin-top: 50px;
}

.izquierda {
	float: left;
	width: 47%;
	text-align: justify;
}

.derecha {
	float: right;
	width: 47%;
	text-align: justify;
}

.display-nada {
	display: none;
}